.partner img{
    width:120px;
    height:40px ;
}

@media screen and (max-width: 575px) {

    #p5{
        display:none;
    }
   
    .partner img{
        width:55px;
        height:25px ;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .partner img{
        width:80px;
        height:30px ;
    }
}