.client-info{
    margin-left: 10px;;
}

.client-info h6{
    margin-bottom: 0;
    font-size: 20px;
    font-weight:600;
}

.client-info small{
    font-size: 13px;
    font-weight:500;
    height: 20px;
    overflow: hidden;
}

.client-review{
    padding:15px 25px 15px 25px;
    border: 1px solid #bfbfbf79;
    margin-bottom: 20px;;
}

.client-review img{
    width:55px;
    height:55px;
    margin-bottom: 15px;
}

.client-review p{
    overflow: hidden;
    height: 70px;
    margin-bottom:0px;
    text-align:left;
    font-size: 16px;
    font-weight:400;
}
