.review-details input{
    width: 70%;
    margin-bottom:10px;
}
.review-details textarea{
    width: 70%;
    resize:none;
    margin-bottom:10px;
}
.send input{
    width: 25%;
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
    
}
    
    @media only screen and (max-width: 575px){
        .review-details input{
            width: 100%;
        }
        .review-details textarea{
            width: 100%;
        }
    }