.logo-style img{
    margin-top:-20px;
    width: 150px!important;
    height: 47px!important;
}

.custom-nav{
    margin-bottom: 0px;
}

.btn-black{
    border:none;
    background-color:#111430;
    color: white!important;
    padding: 2px 25px 2px 25px;
    border-radius:2px;
}


.links a{
    margin-top:40px;
    margin-bottom:15px;
    text-align: center;
    font-weight:600;
    margin-right: 25px;
    color:#474747;
}

.links a:hover{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 767px) {
    .logo-style img{
        margin-top:0px;
        width: 150px;
        height: 40px;
    }
}